br
.article_Notice
    h1 Asi se preparó Fernando Alonso para ganar las 6 Horas de Spa
    img(src='https://ep01.epimg.net/deportes/imagenes/2018/05/05/actualidad/1525536200_578311_1525537036_miniatura_normal.jpg')
    p.description_Article Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo eligendi provident adipisci, est temporibus incidunt obcaecati nobis, nemo consequatur blanditiis molestias quas natus nihil repudiandae nostrum voluptatem, quos totam.
    p.description_Article Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi deserunt asperiores quibusdam, repudiandae, voluptates praesentium itaque laudantium esse molestias explicabo quidem cumque consequuntur voluptatibus reiciendis quo quisquam temporibus deleniti laboriosam?
    p.description_Article Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis iste voluptas rerum quos vel eum optio numquam debitis illo, voluptatem consequatur, quas maxime provident animi laborum. Architecto, excepturi cum!
    p.description_Article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cupiditate, architecto sint libero sunt excepturi reprehenderit expedita, maxime odio soluta impedit corrupti fugiat vitae ipsum error distinctio in vel consequatur?
    br
    br