extends layout.pug

block styles
    link(rel='stylesheet', type='text/css', href='../css/home.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')

block content
    section#main
        section#admin
            include partials/homePartials/form.pug
            include partials/homePartials/storageTable.pug
        section#client 
            include partials/homePartials/search.pug
            include partials/homePartials/info.pug
        include partials/homePartials/modal.pug
            

block templates
    script#tpl(type='text/template')
        |  {{ for(var i=0; i<name.length; i++) { }}
        li(data-id='{{= id[i]}}' class='list') {{= name[i] }}
        |  {{ } }}
    script#data(type='text/template')
        label Nombre : {{=name}}
        br
        label Id : {{=id}}
        br
        label Descripcion : {{=descripcion}}
        br
        label Picture : 
        br
        img(src='{{=picture}}')
    script#table(type='text/template')
        tr
            th Id
            th Nombre
            th Opciones
        |   {{ for(var i=0; i<data.length; i++){ }}
        tr
            td {{=data[i].id}}
            td {{=data[i].name}}
            td
                button.btn_delete(data-id='{{=data[i].id}}') Delete
                button.btn_view(data-id='{{=data[i].id}}') View
        |   {{ } }}
    script#modal(type='text/template')
        p {{=data.description}}

block script
    script(src='../js/dist/backhome.js')