doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        block styles
        
        title Document
    body
        header
            include includes/header.pug

        main
            block content

        footer
            include includes/footer.pug
        
        block templates
        
        block scripts
            script(src='../js/dist/libs/jquery/dist/jquery.min.js')
            script(src='../js/dist/libs/underscore/underscore.js')
            script(src='../js/dist/libs/yosonjs/dist/yoson.js')
            script(src='../js/dist/layout.js')

        block script
        