extends layout.pug

block styles
    link(rel='stylesheet', type='text/css', href='../css/notices.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')

block content
    h1.title Noticias de Hoy
    include partials/noticesPartials/today.pug

block script
    script(src='../js/dist/notices.js')

    