extends layout.pug

block styles
    link(rel='stylesheet', type='text/css', href='../css/services.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')

block content
    h1 Servicios
    br
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo eligendi provident adipisci, est temporibus incidunt obcaecati nobis, nemo consequatur blanditiis molestias quas natus nihil repudiandae nostrum voluptatem, quos totam.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ratione aperiam doloremque quisquam, pariatur nesciunt odit asperiores eum impedit, possimus alias? Laudantium nemo rem quod voluptates optio sunt dolore perferendis.
    br

block script
    script(src='../js/dist/notices.js')