@import 'layout.styl'
h1
    color green

#mainForm
    width 30%
    float left

#myForm
    background-color #FFF
    width 70%
    height auto
    padding 5px 40px
    box-sizing border-box
    border-radius 0px 0px 20px 20px
    font-family 'Ubuntu', sans-serif
    color #777

.font_Head
    color #FFF
    width 70%
    margin 0
    padding 10px 40px
    box-sizing border-box
    border-radius 20px 20px 0px 0px
    background-color #232324

#name
#id
#description
    border-radius 3px
    border  none
    background-color #eee
    color #777
    width 90%

.groupData
    margin-bottom 10px
    padding 5px
    label
        display block
    input
        padding 6px 12px
        width 85%

button
    background-color #232324
    color white
    font-size 20px
    margin 0px 100px
    padding 5px
    border-radius 5px
    font-family 'Ubuntu', sans-serif
    border none
    cursor pointer

button:hover
    background-color #6E6E6E
#myInfo
    width 40%
    height 300px
    margin-left 40%

#mySearch
    width 30%
    height 200px
    float left 

#mySearch img
    width 5%
    display block

.input_Current,
    .div_Current
    width 30%
    border-radius 5px

.input_Current
    padding 8px 33px 8px 15px
    box-sizing border-box
    border none
    float left

.input_Loading
    background-repeat no-repeat
    background-position right
    background-image url("http://p.ebaystatic.com/aw/pics/globalAssets/imgLoading_30x30.gif")

.div_Current
    display inline-block
    border 1px solid #c3c3c3
    display none

.list
    margin-left 10px
    list-style none
    cursor pointer

.storageInfo
    margin-left 40%
    width 40%
    border-collapse collapse
    margin-bottom 20px

.storageInfo td
.storageInfo th
    border 1px solid #ddd

.storageInfo tr:nth-child(even)
    background-color: #F2F2F2

//hover

.storageInfo th
    padding-top 12px
    padding-bottom 12px
    text-align center
    background-color #232324;
    color white
