@import 'layout.styl'
h1
    color green

#main
    display flex

#admin
    width 50%
    display flex
    flex-wrap wrap
    justify-content center
    align-items center

#mainForm
    width 50%
    display flex
    align-items center
    justify-content center
    flex-wrap wrap

#myForm
    background-color #FFF
    width 70%
    height auto
    padding 5px 40px
    box-sizing border-box
    border-radius 0px 0px 20px 20px
    font-family 'Ubuntu', sans-serif
    color #777

.font_Head
    color #FFF
    width 70%
    margin 0
    padding 10px 40px
    box-sizing border-box
    border-radius 20px 20px 0px 0px
    background-color #232324

#name
#id
#description
    border-radius 3px
    border  none
    background-color #eee
    color #777
    width 90%

.group_data
    margin-bottom 10px
    padding 5px
    label
        display block
    input
        padding 6px 12px
        width 85%

button
    background-color #232324
    color white
    font-size 20px
    margin 0px 30px
    padding 5px
    border-radius 5px
    font-family 'Ubuntu', sans-serif
    border none
    cursor pointer

button:hover
    background-color #6E6E6E

.storage_info
    width 50%
    border-collapse collapse
    margin-top 20px

.storage_info td
.storage_info th
    border 1px solid #ddd

.storage_info tr:nth-child(even)
    background-color: #F2F2F2

//hover

.storage_info th
    padding-top 12px
    padding-bottom 12px
    text-align center
    background-color #232324;
    color white

#client
    width 50%
    display flex
    flex-wrap wrap
    justify-content center
    align-items center

#mySearch
    width 50%
    height 200px

#mySearch img
    width 5%
    display block

.input_Current,
    .div_Current
    width 30%
    border-radius 5px

.input_Current
    padding 8px 33px 8px 15px
    box-sizing border-box
    border none
    float left

.input_loading
    background-repeat no-repeat
    background-position right
    background-image url("http://p.ebaystatic.com/aw/pics/globalAssets/imgLoading_30x30.gif")

.div_Current
    display inline-block
    border 1px solid #c3c3c3
    display none

.list
    margin-left 10px
    list-style none
    cursor pointer

#myInfo
    width 70%
    height 300px

.modal
    z-index : 1
    top 0
    left 0
    position fixed
    width 100%
    height 100%
    background-color rgba(0,0,0,0.4)
    display none
    justify-content center
    align-items center

.modal_Content
    width 40%
    padding 10px
    background-color white
    box-sizing border-box

.close
    float right
    font-size 30px

.close:hover
    color #848484
    cursor pointer