*{
    margin 0
    padding 0
}

body
    font-family 'Ubuntu', sans-serif
    background-color #c3c3c3

box-sizing()
    -webkit-box-sizing arguments 
    -moz-box-sizing arguments 
    box-sizing arguments

header
    background-color black
    height 30px
    margin-bottom 5px

a
    text-decoration none
    color white

.active
    color #CA6919

a:hover
    color #CA6919

ul li
    display inline
    padding 0px 10px

footer
    background-color black
    width 100%
    height 30px
    clear both
    position fixed
    bottom 0