@import 'layout.styl'
.title
    color navy

.article_Notice
    margin-left 3%
    width 40% 
    
p
    color black
    margin-left 10px

img
    display block
    float left
    width 360px
    margin 10px

footer
    clear both