br
br
#mySearch
      input#txtSearch.input_Current(type='text', placeholder='Buscar marca')
      img(src='https://cdn.icon-icons.com/icons2/510/PNG/512/search_icon-icons.com_50045.png')
      br
      #txtResult.div_Current
      