.menus
    nav
        ul
            li
                a#home.active(href='home.html') Home 
            li
                a#contact(href='contact.html') Contactos
            li
                a#notices(href='notices.html') Noticias
            li
                a#services(href='services.html') Servicios